@page
@model BookListRazor.Pages.Booklist.BookUsingApiModel
@{
}

<br />
<div class="container row p-0 mb-3">
    <div class="col-12 text-center">
        <h1>@Model.Title</h1>

    </div>
</div>

<div class="container row p-0 mb-2">
    <div class="col-3 offset-9">
        <a asp-page="Create" class="btn btn-info form-control text-white">Create a New Book</a>
    </div>
</div>

<div class="col-12 border p-3">
    <table id="DT_books" class="table table-stripped table-bordered border" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>ISBN</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
</div>
@section Scripts{
    <script src="~/js/bookList.js"></script>
}